@keyframes myfirst {
    from {
        background: #cecece;
    }
    to {
        background: #d9d9d9;
    }
}

@-webkit-keyframes myfirst
/* Safari 与 Chrome */

{
    from {
        background: #cecece;
    }
    to {
        background: #d9d9d9;
    }
}

div {
    height: 35px;
    overflow: hidden;
    background-color: #cecece;
    padding: 0 10px;
    &.down {
        li {
            &:hover {
                background-color: #d9d9d9;
                animation: myfirst 0.4s;
                -webkit-animation: myfirst 0.4s;
            }
            &::after {
                content: "";
                display: block;
                width: 1px;
                height: 20px;
                margin-top: 8px;
                float: left;
                //background-color: #808080;
            }
            &:last-of-type {
                width: 1px;
            }
            &:not(.actived):not(:hover)+li:not(.actived):not(:hover) {
                &::after {
                    background-color: #808080;
                }
            }
        }
    }
    &.up {
        margin-top: -35px;
        li {
            visibility: hidden;
            &.actived {
                visibility: visible;
                background-color: #f7f7f7;
                box-shadow: 0px 0px 5px 0px #555555;
            }
        }
        &+div {
            height: 5px;
            background-color: #f7f7f7;
            box-shadow: 0px 0px 2px 0px #555555;
        }
    }
    li {
        display: block;
        cursor: default;
        //height: 30px;
        text-align: center;
        width: 200px;
        line-height: 35px;
        //padding: 5px;
        //margin: 0px 5px;
        color: black;
        float: left;
        //border-radius: 6px 6px 0 0;
        //background-color: rgba(255, 255, 255, 0);
    }
}