<div class="up-down-split" *ngIf="ds.data[typename+'_list']"
>
    <ag-grid-angular style="height: 100%;width: 100%;" class="ag-theme-balham flex"
        [localeText]='localeText'
        [rowData]="ds.data[typename+'_list']" 
        [columnDefs]="columnDefs" 
        [frameworkComponents]="frameworkComponents" 
        [stopEditingWhenGridLosesFocus]='true' 
        [modules]="modules"
        [context]="context" 
        [defaultColDef]='defaultColDef'
        (gridReady)="gridReady($event)" 
        (rowDoubleClicked)="onRowDbclick($event)"
        (rowValueChanged)='rowValueChanged($event)' 
        (rowDataChanged)='rowDataChanged($event)'
        (rowDataUpdated)='rowDataUpdated($event)'
        (rowEditingStopped)='rowEditingStopped($event)' 
        editType="fullRow">
    </ag-grid-angular>
    <div>
    <button (click)="onNew()">New</button>
    <button (click)="onSave()">Save</button>
    <button (click)="close.emit()">Close</button>
    </div>
</div>